img.card-img-top,
img.img-fluid {
    object-fit: cover;
    width: 100%;
    height: 280px;
}

ul {
    list-style-type: none;
    padding-left: 0 !important;
}

img.img-thumbnail {
    object-fit: cover;
    width: 60%;
    height: 48px;
    float: right;
}

span.greeting {
    line-height: 40px;
    color: #0d6efd !important;
    text-decoration: underline;
}
