<% layout('./layout/template') %>

<h1>Campgrounds</h1>

<p>
    Total Camps: 
    <span>
        <%= campgrounds.length %>
    </span>
</p>

<div>
    <a href="/campgrounds/new">Create New</a>
</div>

<ul>
    <% for (let campground of campgrounds) { %>
        <li>
            <a href="/campgrounds/<%= campground._id %>">
                <%= campground.title %>
            </a>
        </li>
    <% } %>
</ul>